@tailwind base;
@tailwind components;
@tailwind utilities;
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
    justify-items: center;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .category-image {
    width: 120px; 
    object-fit: contain; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s ease-in-out;
  }
  
  .category-image.rotating {
    animation: categoryRotation 1s ease-in-out forwards;
    animation-delay: var(--delay);
  }
  
  @keyframes categoryRotation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: var(--rotation) scale(0.7);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .category-image:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out; 
    z-index: 10; 
  }
  